$cMain: #f13245;

.flex {
    @media (min-width: 700px) {
        display: flex;
        justify-content: space-between;
    }
    iframe {
        @media (max-width: 700px) {
            margin-top: 3rem;
            width: calc(100% - 6rem);
            margin-right: 3rem;
        }
    }
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    font-size: 1.2rem;
    color: #fff;
    background: $cMain;
    padding: .8em 2em;
    border-radius: 999rem;
    margin: 4rem 0;
}

body {
    font-family: Helvetica, "游ゴシック", "Yu Gothic", YuGothic, -apple-system, Verdana, Meiryo;
    background: #202020;
    color: #fff;
}
h1 {
    width: 100vw;
    height: 20rem;
    margin: 0 calc(50% - 50vw);
    object-fit: cover;
    >* {
        width: 100%;
        height: 100%;
    }
}
h2,h3,h4,h5,h6,th {
    color: $cMain;
    letter-spacing: 0.05em;
}
h2 {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    margin-bottom: 1.5em;
}
h3 {
    font-size: 1.5rem;
    margin-bottom: 1em;
}
p {
    font-size: .9em;
    max-width: 30em;
    letter-spacing: 0.05em;
    line-height: 1.8;
    + p {
        margin-top: 1.5em;
    }
}
ol{
    counter-reset: item;
}
li {
    background-color: #fff;
    border-radius: 2rem;
    padding: 4rem;
    margin-bottom: 2rem;
    p {
        color: #000;
    }
    &:before {
        font-family: 'URW DIN';
        color: $cMain;
        font-size: 4rem;
        counter-increment: item;
        content: "0"counter(item);
    }
}
header {
    padding-top: 5rem;
    iframe {
        width: 20rem;
        height: 20rem;
        margin-left: 3rem;
    }
}
main {
    h2 {
        color: #fff;
        margin-top: 1rem;
    }
    background-color: rgba($cMain, .5);;
    width: 100vw;
    margin: 3rem calc(50% - 50vw);
    padding: 3rem calc(50vw - 50%);
}
footer {
    font-family: 'URW DIN';
    color: #000;
    width: 100vw;
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    padding: calc(50vw - 50%);
    padding-top: 10rem;
    padding-bottom: 5rem;
    position: relative;
    overflow: hidden;
    &:before,&:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 120%;
        height: 120%;
        margin: 3% -10% 0;
    }
    &:before {
        transform-origin: left center;
        transform: rotate(3deg);
        background: #fff;
        z-index: -1;
    }
    &:after {
        transform-origin: right center;
        transform: rotate(-3deg);
        background: $cMain;
        z-index: -2;
    }
}

@font-face {
    font-family: 'URW DIN';
    src: local('URW DIN Black'), local('URWDIN-Black'),
        url('/font/urwdin/URWDIN-Black.woff2') format('woff2'),
        url('/font/urwdin/URWDIN-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'URW DIN';
    src: local('URW DIN Demi'), local('URWDIN-Demi'),
        url('/font/urwdin/URWDIN-Demi.woff2') format('woff2'),
        url('/font/urwdin/URWDIN-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}